$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'mixins';

$brand-primary: $brand-primary;
$hr-border: $hr-border;

html, body {
	height: 100%;
}

@media (min-width: 768px) {
	.big-hide {
		display: none;
	}
}

.glyph {
	i {
		@extend .glyphicon;
		&.tag {
			@extend .glyphicon-bookmark;
			text-shadow: 0px 1px 1px #999;
		}
		&.folder-open {
			i {
				&:first-of-type {
					@extend .glyphicon-chevron-down;
				}
				&:last-of-type {
					@extend .glyphicon-folder-open;
				}
			}
		}
		&.folder-close {
			i {
				&:first-of-type {
					@extend .glyphicon-chevron-right;
				}
				&:last-of-type {
					@extend .glyphicon-folder-close;
				}
			}
		}
		&.folder-open, &.folder-close {
			margin-right: 7px;
			i {
				&:first-of-type {
					line-height: 11pt;
					font-size: 5px;
					margin-right: 2px;
				}
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
		&.all {
			@extend .glyphicon-home;
		}
		&.settings {
			@extend .glyphicon-cog;
		}
		&.read {
			@extend .glyphicon-eye-open;
		}
		&.unread {
			@extend .glyphicon-eye-close;
		}
		&.grid {
			@extend .glyphicon-th;
		}
		&.list {
			@extend .glyphicon-th-list;
		}
	}
}

.glyph-btn {
	@extend .btn, .btn-default, .glyph;
}

.feed-btn {
	@extend .glyph-btn;
	text-align: left;
	&.blue i {
			color: blue;
	}
	&.green i {
			color: green;
	}
	&.yellow i {
			color: yellow;
	}
	&.red i {
			color: red;
	}
	&.center-btn {
		i, img {
			
		}
		text-align: center;
	}
	&:not(.center-btn) {
		i, img {
			&:not(.pull-right) {
				@extend .pull-left;
			}
		}
	}
	i, img {
		margin-right: 5px;
		&.pull-right {
			margin-right: 0;
			margin-left: 5px;
		}
	}
	img {
		height: 16px;
	}
	&.ng-move, &.ng-leave, &.ng-enter {
		@include transition(all linear .5s);
	}
	&.ng-enter, &.ng-leave.ng-leave-active {
		padding-top: 0;
		padding-bottom: 0;
		max-height: 0;
		overflow: hidden;
	}
	&.ng-enter.ng-enter-active, &.ng-leave {
		padding-top: 6px;
		padding-bottom: 6px;
		max-height: 40px;
	}
}

#header {
	border-bottom: $hr-border solid 1px;
	.title {
		color: $brand-primary;
		display: inline;
	}
	.options {
		@extend .btn-group, .pull-right;
		a, button {
			@extend .glyph-btn, .btn-lg;
			border-radius: 0 !important;
		}
	}
}

.sidebar {
	@extend .btn-group-vertical/*, .col-md-3*/;
	height: 100%;
	.folder {
		display: block;
		@extend .btn-group-vertical;
		margin-top: -1px;
		.folder-header {
			padding-left: 4px;
		}
		.folder-content {
			@extend .btn-group-vertical;
			display: block;
			a {
				padding-left: 28px;
				padding-right: 28px;
				border-radius: 0 !important;
				&:first-of-type {
					margin-top: -1px;
				}
			}
			&.ng-show, &.ng-hide {
				@include transition(all linear .5s);
			}
			&.ng-hide-add, &.ng-hide-remove {
				display:block!important;
			}
			&.ng-show-add, &.ng-show-remove {
				
			}
			&.ng-hide {
				height: 0;
				overflow: hidden;
			}
			&.ng-hide-active {
				height: auto;
			}
		}
	}
	a {
		border-radius: 0 !important;
		@extend .feed-btn;
		white-space: nowrap;
		padding-left: 12px;
		margin-right: 36px;
	}
	hr {
		display: block;
		margin: 5px;
	}
}

#addFeedInputUrl {
}
