<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target="#navMenu">
				<span class="sr-only">ToggleNav</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">StupidRSS</a>
		</div>
		
		<div class="collapse navbar-collapse" id="navMenu">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle glyph" class-toggle="dropdown"><i ng-class="settings.view"></i><span class="big-hide"> View</span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="v in views"><a class="glyph" ng-click="settings.view = v"><i ng-class="v"></i> {{v}}</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle glyph" class-toggle="dropdown"><i ng-class="{'read': settings.read, 'unread':!settings.read}"></i><span class="big-hide"> Read</span></a>
					<ul class="dropdown-menu">
						<!-- Toggle? -->
						<li><a ng-click="settings.read = true" class="glyph"><i class="read"></i> Read</a></li>
						<li><a ng-click="settings.read = false" class="glyph"><i class="unread"></i> Unread</a></li>
					</ul>
				</li>
				<li><a ng-href="options.html" class="glyph"><i class="settings"></i><span class="big-hide"> Settings</span></a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="sidebar">
	<a class="center-btn" ng-show="newContent"><i class="glyphicon-refresh"></i>Refresh</a>
	<hr ng-show="newContent">
	<a ng-href="#all"><i class="all"></i>All</a>
	<div class="folder">
		<a class="folder-header" ng-href="#tagged"><i ng-class="{'folder-open': settings.folderOpen, 'folder-close': !settings.folderOpen}" ng-click="settings.folderOpen = !settings.folderOpen; $event.stopPropagation(); $event.preventDefault();"><i></i><i></i></i>Tagged</a>
		<div class="folder-content" ng-show="settings.folderOpen" ui-sortable="sortOpts" ng-model="settings.tags">
			<a ng-repeat="t in settings.tags" ng-href="#{{t}}-tag" class="{{t}}"><i class="tag"></i>{{t}}</a>
		</div>
	</div>
	<hr>
	<div class="folder-content" ui-sortable="sortOpts" ng-model="feeds">
		<li ng-repeat="feed in feeds track by feed.url" ng-switch on="feed.type">
			<div class="folder" ng-switch-when="folder">
				<a class="folder-header" ng-href="#{{feed.url}}"><i ng-class="{'folder-open': settings.folderOpen, 'folder-close': !settings.folderOpen}" ng-click="settings.folderOpen = !settings.folderOpen; $event.stopPropagation(); $event.preventDefault();"><i></i><i></i></i>{{feed.name}}</a>
				<div class="folder-content" ng-show="feed.open" ui-sortable="sortOpts">
					<li ng-repeat="f in feed.content">{{f.name}}</li>
				</div>
			</div>
			<a ng-click="feed.updateXML()" ng-href="#{{feed.url}}" class="glyph">
				<img ng-src="{{feed.icon}}"/>
				{{feed.name}}
				<i ng-click="rmFeed(feed.url); $event.stopPropagation();" class="remove pull-right"></i>
				<span ng-show="feed.articles.length" class="badge pull-right">{{feed.articles.length}}</span>
			</a>
		</li>
	</div>
	<hr>
	<li id="addFeed" >
		<a class="center-btn" ng-hide="showAddFeed||showAddFolder" ng-click="toggleAddFeed()"><i class="glyphicon-plus"></i>
			Add Feed
		</a><a class="center-btn" ng-hide="showAddFeed||showAddFolder" ng-click="toggleAddFolder()"><i class="glyphicon-plus"></i>
			Add Folder
		</a>
		<form ng-show="showAddFeed" ng-click="$event.stopPropagation()" ng-submit="addFeed(url); showAddFeed = true">
			<a class="center-btn pull-left" ng-show="showAddFeed" class="glyph" ng-click="toggleAddFeed()"><i class="remove"></i></a>
			<label class="sr-only" for="addFeedInputUrl">Feed URL</label>
			<span><input id="addFeedInputUrl" class="form-control" placeholder="Feed URL" ng-model="url"></span>
		</form>
		<form ng-show="showAddFolder" ng-click="$event.stopPropagation()" ng-submit="addFolder(name); showAddFolder = true">
			<a class="center-btn pull-left" ng-show="showAddFolder" class="glyph" ng-click="toggleAddFolder()"><i class="remove"></i></a>
			<label class="sr-only" for="addFolderInputUrl">Folder URL</label>
			<span><input id="addFolderInputName" class="form-control" placeholder="Folder Name" ng-model="name"></span>
		</form>
	</li>
</div>